.App {
  background: #ede6db;
  padding: 40px;
  max-width: 900px;
  margin: 0 auto;
}

.App .title {
  margin: 0 5px 30px 5px;
  text-align: center;
  color: #1d5c63;
  font-size: 60px;
  font-family: "Kaushan Script", cursive;
}

.App .book {
  width: 150px;
}

.App footer {
  margin-top: 50px;
  color: #1d5c63;
}

.App .portfolio {
  text-decoration: none;
  color: #1d5c63;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  transition: all 200ms ease-in-out;
}

.App .portfolio:hover {
  color: black;
}

.App .elf {
  width: 50%;
  display: block;
  margin: 0 auto;
  margin-top: 100px;
}
