.Definition {
  text-align: left;
  color: #1a3c40;
}
.Definition .word {
  color: black;
  font-size: 18px;
}

.Definition .word-definition {
  font-weight: bold;
  color: #1d5c63;
}

.Definition .word-example {
  color: #1a3c40;
}
