.Results {
  margin-top: 30px;
}

.Results .definition-background {
  background: #417d7a;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  margin: 20px 0;
}

.Results .definition {
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  margin: 20px 0;
}

.Results .search-word {
  font-size: 40px;
  margin-bottom: 5px;
  color: #ede6db;
  font-family: "Kaushan Script", cursive;
}
